
@{
    ViewData["Title"] = "jQuery";
}

<h1>jQuery</h1>
<button id="buttonGet" class="btn btn-primary">get</button>
<button id="buttonPost" class="btn btn-secondary">post</button>
<button id="buttonJson" class="btn btn-success">getJson</button>
<button id="buttonLoad" class="btn btn-info">load</button>
<button id="buttonAjax" class="btn btn-warning">ajax</button>
<button id="buttonCors" class="btn btn-danger">cors</button>
<div class="alert alert-dark mt-3 w-50" role="alert" id="divAlert">

</div>
@section Scripts{
    <script>
        $('#buttonGet').click(function () {
            $.get('@Url.Content("~/api/index")', { "userName": "Migo", "age": 25 }, function (data) {
                console.log(data);
                $('#divAlert').text(data)
                //$('#divAlert').text("GET")
            })

        })
        $('#buttonPost').click(function () {
            $.post('@Url.Content("~/api/index")', { "userName": "Migo", "age": 25 }, function (data) {
                console.log(data);
                $('#divAlert').text(data)
                /*$('#divAlert').text("POST")*/
            })
        })
            $('#buttonJson').click(function () {
                $.getJSON("@Url.Content("~/api/city")", function (datas) {
                    //data is JSON object
                    console.log(datas);
                    let ul = $("<ul></ul>").addClass("list-group")
                    $.each(datas, function (idx, item) {
                        console.log(item.city)
                        const li = $("<li></li>").text(item.city).addClass("list-group-item");
                        ul.append(li);
                    })
                    $('#divAlert').html(ul);
                })
            //$('#divAlert').text("JSON")
        })
        $('#buttonLoad').click(function () {
            $('#divAlert').load("@Url.Content("~/home/Partial")")
        })
         $('#buttonAjax').click(function () {
            $.ajax({
                url: '@Url.Content("~/api/city")', @*'@Url.Content("~/api/index")',*@
                type: 'get',  //post
                dataType:'json'
                //data: { "userName": "Paul", "age": 30 }
            }).done(function (data) {
               // $('#divAlert').text(data)
                console.log(data)
            });
        })
        $('#buttonCors').click(function () {
            $.getJSON("https://localhost:44322/api/Shippers", function(datas) {
                console.log(datas);
            })
            /*$('#divAlert').text("CORs")*/
        })

    </script>
}